<!DOCTYPE html>
<html>
<head>
  <title>AirTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand">AIRTracker</a>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "Topics", topics_path %>
      </li>
      <li>
        <a href="#">Meetup</a>
      </li>
    </ul>

    <!-- sign in/up/out layout -->
    <ul class="nav navbar-nav navbar-right">
      <%= render 'devise/menu/login_items' %>
    </ul>

  </div>
</nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class = "conatainer">
    <%= yield %>
  </div>
</body>
</html>
